body {
    margin: 20px auto;
    max-width: 650px;
    line-height: 1.4;
    font-size: 1em;
    color: #444;
    padding: 0 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2,
h3 {
    line-height: 1.2;
}

div.header h1 {
    padding-top: 0;
    margin-bottom: 3em;
    font-size: 18px;
    font-weight: 400;

}

#contain {
	width: auto;
	display: inline;
}

.header-menu {
    float: right;
    color: #999999;
    font-size: .8em;
    font-weight:700;
}

.site-title {
    background-color: #333333;
}

.site-title a:link, 
	    a:visited,
	    a:hover,
	    a:active {
    color: #fff;
}


a:link,
a:visited,
a:hover,
a:active {
   color: #1535e5;;
   text-decoration: none;
}

ul.pagination {
    list-style-type: none;
    text-align: center;
    padding: 0;
}


ul.pagination > li {
    padding: 8px 8px;
    display: inline-block;
}

div.footer {
    text-align: center;
    padding-top: 5em;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article.post {
    font-size: .9em;
}

code {
    /* font-family: "IBM Plex Mono"; */
    font-family: SF Mono, Menlo, Monaco, Consolas, monospace;
    font-size: .9em;
    color: #e51578;
    background: #fafafa;
}

pre {
    padding: 1em;
    background: #fafafa;
      overflow-x: scroll;
        overflow-y: hidden;
}

.recents {
    line-height:.9em;
	font-size:.9em;
}
