{{ block "header" . }}
<div class="header">
    <h1>
        <a class="site-title" style="padding-top: .2em;
    				     padding-bottom: .2em;
    				     padding-left: .5em;
    				     padding-right: .5em;
    				     color: #fff;
    				     text-decoration: none;
    				     font-weight:800;" 
    				     href="{{ .Site.BaseURL | relLangURL }}">{{- .Site.Title -}}</a>
	<div class="header-menu">
            {{- range .Site.Menus.main -}}
            {{ if eq (hasPrefix .URL "mailto:") true }}
            <a href="{{ .URL }}">{{- .Name -}}</a>
            {{ else }}
            <a href="{{ .URL | relLangURL }}" style="margin-right: 20px;">{{- .Name -}}</a>
            {{- end -}}
            {{ end }}
        </div>
    </h1>
</div>
{{ end }}
